.homepage {
    /* background-color: rgb(106, 106, 106); */
    /* background: url('https://wallpaperaccess.com/full/4406323.jpg'); */
    /* background: url('https://wallpaperaccess.com/full/3276383.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    /* border: 1px solid red; */
    /* height: 100%; */
    background-color: black;
}
